.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.button {
    padding: 10px 20px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer
}

.button:disabled {
    background-color: rgb(97, 8, 26);
    cursor: not-allowed;
}