.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;

}

.categoryItem.style {
    background-color: rgb(189, 162, 129);

}

.categoryItem.fashion {
    background-color: rgb(114, 188, 190);
}

.categoryItem.food {
    background-color: rgb(133, 177, 97);
}

.categoryItem.travel {
    background-color: rgb(219, 140, 196);
}

.categoryItem.culture {
    background-color: rgb(138, 141, 219);
}

.categoryItem.coding {
    background-color: rgb(248, 161, 161);
}