.container {
    flex: 2;
    padding: 40px 15px;
}

.subTitle {
    margin-top: 35px;
    font-size: 16px;
    color: gray;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}