.post {
    margin-top: 60px;
    display: flex;
    align-items: start;
    gap: 50px;
    height: 350px;
    justify-content: center;
}

.title {
    font-size: 36px;
    font-weight: bold;
}

.imgContainer {
    flex: 1;
    height: 350px;
    position: relative;
}

.date {
    font-size: 12px;
    color: gray;
}

.detail {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
}

.category {
    font-size: 12px;
    color: crimson;
}

.txtContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 300px;
    padding: 10px;
}

.image {
    object-fit: cover;
}

.postTitle {
    font-size: 40px;
}

.postDesc {
    font-size: 20px;
    font-weight: 300;
    color: var(--softTextColor);
}

.button {
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    width: max-content;
    background-color: var(--second-bg);
    color: var(--bg)
}

@media screen and (max-width:1280px) {
    .postTitle {
        font-size: 36px;
    }

    .post {
        height: 250px;
    }

    .imgContainer {
        display: none;
    }

    .postDesc {
        font-size: 18px;
    }

}

@media screen and (max-width:1024px) {
    .imgContainer {
        height: 200px;
    }

    .post {
        height: 200px;
    }

    .postTitle {
        font-size: 32px;
    }

    .postDesc {
        font-size: 16px;
    }

    .imgContainer {
        display: none;
    }

}

@media screen and (max-width:768px) {
    .imgContainer {
        height: 200px;
    }

    .post {
        height: 200px;
    }

    .postTitle {
        font-size: 28px;
    }

    .postDesc {
        font-size: 14px;
    }

}

@media screen and (max-width:640px) {
    .imgContainer {
        height: 200px;
    }

    .post {
        height: 200px;
    }

    .postTitle {
        font-size: 24px;
    }

    .postDesc {
        font-size: 12px;
    }

}